export("featureSelect")
importFrom("stats", "model.matrix", "p.adjust", "predict")
importFrom("utils", "read.csv")
import("caret")
import("edgeR")
import("fastmatch")
import("genalg")
import("kernlab")
import("e1071")
